@import"components/__normalize";
@import"components/__nav";
@import"components/__card";
@import"components/__header";




$base-text-color: white;

.container{
    background-color: #1058A1;
    padding: 1em;
}

