extends layout

block content
  h1= title
  p Welcome to #{title}

  ul.transferList
   li Coffee
   li Tea
   li.test Milk

  a(href='./test') link text

  script(src='./javascripts/indexFrontend.js')

