doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./stylesheets/style.css')

  .title
    h1.title--large Welcome back!
    h2.title--medium Log in to Currency app
  div.form
    label.form__label(for='input-group_username') Username
    br
    input.form__input(type='text' name='username' placeholder='example')
    br
    label.form__label(for='input-group_password' name='password') Password
    br
    input.form__input(type='password' name='password' placeholder='******')
    br
    div.form__error
    input.btn(type='submit' value='Log in')
    br
    a(href='/signup').form__link Are you new? Sign up here


  script(src='./javascripts/loginFrontend.js')