doctype html
html
  head
    title= title
    link(rel='stylesheet' href='./stylesheets/dist/app.css')
    link(rel='stylesheet', href='/stylesheets/formstyleTest.css')

  body
    block content

    script(src='./javascripts/logout.js')