doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/formstyleTest.css')

  body
    block content

    h1 Hello


    script(src='./javascripts/logout.js')
    script(src="https://cdn.jsdelivr.net/npm/vue@2")