.card{
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 5em;

    &--form {
        background-color: #1058A1;
        width: 27em;
        overflow: hidden;
        margin: 1em;
    }

    &__form {
        color: white;
        width: 57%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 5em;

    }

    &__form input {
        width: 15em;
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 8%;
    }
    
    &__form select {
        width: 15em;
        margin-bottom: 1em;
    }

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__item{
        background-color: #1058A1;
        border-radius: 5px;
        padding-top: 0.5em;
        padding-bottom: 1em;
        margin: 1em;
        padding-left: 1em;
        display: flex;
        gap: 2em;
        color: white;
    }
    
    &__name{
        margin-top: 0.2em;
        margin-bottom: 0;
        padding: 0;
        font-size: 1.3em;
        width: 10em;
    }
    
    &__date{
        margin-top: .2em;
        margin-bottom: 0;
        padding: 0;
    }

    &__coinInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 0.5em;

    }
    
    &__coinsAmount{
        margin-top: 0.5em;
        margin-bottom: 0;
        color: #F6B850 ;
        font-size: 1.5em;
        font-weight: bold;
    }

    &__arrow {
        font-size: 1.5em;
        font-weight: bolder;
        margin: 0;
        padding: 0;
    }

    .arrow__negative{
        color: red;
    }

    .arrow__positive{
        color: rgb(28, 253, 28);
    }

    #card__btn{
        background-color: #F6B850 ;
        color: #1058A1;
        font-weight: bold;
    }

    
    

}

@media(min-width:800px){

    .card__list{
        display: flex;
        flex-wrap: wrap;
  
    }

    .card__item{
        width: 20em;
    }

    .card__name{
        width: 9em;
    }

    .card--form {
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .card__form  {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

    }
    

    .card__form input {
        width: 100%;

    }
    
    .card__form select {
        width: 100%;

    }


  
}


