@import"__variables.scss";

@media(min-width:800px){
    .footer{
        background-color: $base_blue;
        color: white;
        padding: 0.5em;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
 
 }

