.form{
    font-family: $basic-font;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 800px;
    color: #444343;
    display: grid;
    grid-template-rows: 10% 10% 10% 20%;

    &__group {
        display:grid;
    }

    &__label{
        font-weight: 600;
    }

    &__input{
        background-color: #F1F6FF;
        border: 0.1px solid #F1F6FF;
        border-radius: 6px;
        height: 41px;
        width: 257px;
        margin: 1em;
        color: #5289C3;
        padding-left: 1.5em;
    }

    &__link{
        color: #5289C3;
        font-weight: 700;
    }

}


@media(min-width:800px){
    .form{
        font-size: 18px;
        margin: 4em;
        grid-template-rows: 15% 15% 15% 30%;

        &__input {
            height: 55px;
            width: 482px;
        }
    }

}