.list{
    font-family: $basic-font;
    font-weight: 520;
    font-size: 16px;
    list-style-type: none;
    display: grid;

    &__item{
        display: grid;
        grid-template-columns: 5% 80% 10%;
        background-color: $base_blue;
        color: $base_white;
        margin: 1em;
        margin-left: 1em;
        padding: 1em;
        border-radius: 6px;
        box-shadow: 0 10px 6px -6px #777;
    }

    &__coins{
        color: #F6B850;
        font-weight: 600;
    }

}


@media(min-width:800px){
    .list{
        margin: 5em;
        margin-top: 2em;
        text-align: center;
    }

    .card {
        &__h1{
            margin-left: 3.5em;
            padding-top: 1em;
        }
    }
}