@import"__variables.scss";

.nav{
    display: flex;
    gap: 12%;
    justify-content: center;
    padding-top: 1em;
    background-color: $base_blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: $basic-font;
    font-weight: 500;

    &__item{
        color: white;
    }

    &__icon{
        width: 2em;
        margin-bottom: 0;
        padding-bottom: 0.2em;
        margin-left: auto;
        margin-right: auto;
    }

    &__text{
        margin-top: 0;
        padding-top: 0;
    }

    &__icon--coins{
        margin-left: 18px;
    }

    &__icon--history{
        width: 25px;
        margin-left: 12px;
        margin-bottom: 3px;
    }

    &__icon--leaderboard{
        margin-left: 25px;
        margin-top: -5px;
        width: 40px;
    }

}



@media(min-width:800px){
   .nav{
       display: none;
   }

}



