$base_blue :#1058A1;
$base_orange: #F6B850;
$base_white: #FAF9FF;
$basic-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;